[Unit]
Description=Bridge pulseaudio to MQTT for Home Assistant & NodeRed usage
Documentation=https://github.com/oxodao/pulseaudio2mqtt
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/pa2mqtt
Restart=always
RestartSec=12

[Install]
WantedBy=default.target